<!DOCTYPE html> {% extends 'layout.html' %} {% block title %}Reset {% endblock %}{% block content %}

<!-- ........................START.................... -->

<div class="login-card d-flex flex-column justify-content-center">
    <h2 class="text-center text-danger font-weight-bold mb-5">Email sent</h2>
    {% load static %}

    <p class="text-dark ">We’ve <strong> emailed</strong> you instructions for setting your password, if <strong>an account exists</strong> with the email you entered. You should receive them shortly.</p><br>
    <p class="text-dark ">If you <strong>don’t receive an email</strong>, please make sure you’ve entered the address you registered with, and check your <strong>spam</strong> folder.</p>

</div>

<!-- ........................END.................... -->

{% endblock %}