<!DOCTYPE html> {% extends 'layout.html' %} {% block title %}Reset {% endblock %}{% block content %}

<!-- ........................START.................... -->

<div class="login-card d-flex flex-column justify-content-center">
    <h2 class="text-center">Forgot Password</h2>
    {% load static %}
    <img class="img-fluid profile-img-card" src="{% static 'assets/img/avatar_2x.png' %}" style="height:100px!important; width:100px!important;">
    <p class="text-danger border-danger profile-name-card">
        We will send you a link to reset password to your E-mail<br>
    </p>
    <form class="form-signin" action="" method="POST">
        {% csrf_token %}
        <label for="id_email" class="sr-only">Email address:</label>
        <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" id="id_email" placeholder="Enter Your Email....." required>
        <button class="btn btn-black text-light btn-block btn-lg btn-signin" name="login" type="submit" style="background-color: rgb(1,1,1);">
        Reset password
        </button>
        <!-- <input type="submit" value="Reset my password"> -->
    </form>
    <a class="forgot-password d-flex justify-content-center" href="{% url 'login' %}" style="color: rgb(0,0,0);">
        <strong>Login </strong>
    </a>
</div>

<!-- ........................END.................... -->

{% endblock %}